# CMake files
Makefile
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
cmake_uninstall.cmake

# Dependencies
tools/

# ResInit Tool Output
TimestampCache.csv

# VS Build Files
*.db

# Validation Layer Settings
vk_layer_settings.txt

# local build(s)
build*

/.vs
/.vscode
/CMakeSettings.json
.DS_Store
 